{% extends 'base.html' %}

{% block content %}

{% comment %} <div class="bg-gray-100 font-sans antialiased"> {% endcomment %}

<div class="bg-gray-100 min-h-screen grid place-items-center relative">
    <!-- Nút Back góc trên trái -->
    <a href="javascript:history.back()" class="absolute top-20 left-10 bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-700 transition duration-300">
        ⬅ Back
    </a>

    <!-- Main Content Container -->
    <div class="container mx-auto mt-20 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">

            <!-- Blog posts section -->
            <section>
                <h2 class="text-xl mb-4 font-semibold">All Blog Posts</h2>
                <div class="space-y-4">
                    
                    {% for article in blog_articles reversed %}
                    <a href="blog-detail/{{article.id}}">
                        <div class="border border-gray-300 p-4 rounded-lg">
                            <h3 class="text-lg font-semibold">{{article.youtube_title}}</h3>
                            <p>{{article.generated_content|truncatechars:80}}</p>
                        </div>
                    </a>
                    {% endfor %}
                    
                    <!-- Repeat -->
                </div>
            </section>

        </div>
    </div>
    <footer class="text-center p-4 text-blacl mt-6">
        <h2>Created by TranCuong</h2>
    </footer>
</div>

{% endblock %}